 @model Lab4.Models.ViewModels.NewsViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>News for @Model.SportClub?.Title</h1>

<p>
    <a asp-action="Create" asp-route-id="@Model.SportClub.Id">Upload News</a>
</p>
<p>
    <a asp-controller="SportClubs" asp-action="Index">Back to List</a> 
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                 File Name
            </th>
            <th>
                  Image
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @if (Model.News.Count() ==0)
        {
              <tr>
                  <td>
                   <h2> No news exist for this Sport Club yet </h2>
                  </td>
                  </tr>
        }
        @foreach (var item in Model.News) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FileName)
            </td>
            <td>
                    <img src=@item.Url alt="Image" width="500px"  />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SportClub.Id)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.NewsId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
